* {
  margin: 0;
  padding: 0;
}

.drag-area {
    height: 800px;
    width: 1000px;
    background: silver;
}

.square {
    height: 80px;
    width: 80px;
}

.drag-square {
    position: relative;
    background-color: green;
}

.fixed-square {
    position: absolute;
    left: 120px;
    top: 200px;
    background-color: yellow;
}